:root {
    --background: #ffffff;
    --text-primary: #000;
    --button-bg: #000;
    --button-text: #ffffff;
}

[data-theme="dark"] {
    --background: #000;
    --text-primary: #ffffff;
    --button-bg: #ffffff;
    --button-text: #000;
}

.light-dark-mode {
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.5s ease;
}

.light-dark-mode .container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: 4px solid var(--button-text);
    border-radius: 50px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}